body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    width: 100%;
    --colorhover--:#66a182
}
.header{
    width: 100%;

}
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.header__container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #e1e1e1;
}
.header__container-box{
    display: flex;
    flex-direction: row;
    border-right: 1px #e1e1e1 solid;
}
.headerbox{
    padding: 10px 35px;
    border-left: 1px #e1e1e1 solid;
}
.headerbox:hover{
    color: var(--colorhover--);
    transition: ease-in 0.3s;
    cursor: pointer;
}
.navbar-expand-sm{
    height: 70px;
}
.navbar-brand{
    font-size: 30px !important;
}
.nav-link{
    color: white !important;
}
.nav-link:hover{
    color: var(--colorhover--) !important;

}
.main{
    margin-top: 20px;
}
.btn-primary{
    background-color: var(--colorhover--) !important;
    border-color:#73c99b !important;
    box-shadow: 0 0 0 0.25rem #73c99b;
}
.dropdown-menu{
    width: 100% !important;
}
.list-group-item-success{
    background-color: var(--colorhover--) !important;
    border: none !important;
    color: white !important;
    text-align: center;
}
.list-group-item-dark{
    color: #acacac !important;
    background-color: #252525 !important;
}
.bi-list{
    color: white !important;
    font-size: 20px;
    margin-right: 9px;
}
.list-group-item{
    height:50px !important ;
}
.list-group-item:hover{
    background-color:var(--colorhover--)!important;
    color: white !important;
    transition:ease-in-out 0.3s;

}
.product{
    margin-block: 70px;
}
.img-product{
    width: 270px;
}
.products{
    margin-top: 24px!important;
}
.title_modules{
    position: relative;
    padding: 20px 0px;
}
.title_modules:before {
    content: '';
    position: absolute;
    border-bottom: 1px solid #66a182;
    width: 100%;
    left: 0;
    bottom: 3px;
}
.title_modules:after {
    content: '';
    position: absolute;
    border: 1px solid #66a182;
    width: 100%;
    left: 0;
    bottom: 0;
}
.title-product{
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.title-product a:hover{
    color:var(--colorhover--) ;
    transition:ease-in-out 0.5s;
}
.price-new{
    text-align: end;
    color: var(--colorhover--);
    font-family: "Roboto",sans-serif;
    font-size: 17px;
    font-weight: bold;

}
.price-old{
    text-decoration: line-through;
    font-size: 16px;
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    margin: 0;
    display: inline-block;
    color: #acacac;
}
.title-product a{
    color: black;
    text-decoration: none;
}
.btn-outline-success{
    width: 100% !important;
}
.title_modules:hover{
    color:var(--colorhover--) ;
    transition:ease-in-out 0.5s;

}
.img-product-left{
    width: 117%;
}
.product-left{
   display: flex;
   flex-direction: column;
    gap: 6px;
   align-items: flex-start;
}
.price-new-left{
    text-align: start;
}
.products-left{
    margin-bottom: 24px;
}
.img_news-left{
    width: 100%;
}
.title_new-left{
    text-decoration: none;
    font-weight: bold;
    color: #000;

}
.news-left{
    margin-bottom: 10px;
}
.auther-new{
    font-weight: 500;
    font-size: 14px;
}
.content_new-left{
    font-size: 14px;
    color: rgb(133, 131, 131);
}
footer{
    background-color: rgb(46, 44, 44);
    height: 300px;

}
.footer-item{
    background-color: rgb(46, 44, 44)!important;
    color: white !important;
}
.footer{
    margin-top: 25px !important;
}
.active{
    
}
