body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    width: 100%;
    --colorhover--:#66a182
}
.header{
    width: 100%;

}
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.header__container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #e1e1e1;
}
.header__container-box{
    display: flex;
    flex-direction: row;
    border-right: 1px #e1e1e1 solid;
}
.headerbox{
    padding: 10px 35px;
    border-left: 1px #e1e1e1 solid;
}
.headerbox:hover{
    color: var(--colorhover--);
    transition: ease-in 0.3s;
    cursor: pointer;
}
.navbar-expand-sm{
    height: 70px;
}
.navbar-brand{
    font-size: 30px !important;
}
.nav-link{
    color: white !important;
}
.nav-link:hover{
    color: var(--colorhover--) !important;

}
.main{
    margin-top: 20px;
}
.btn-primary{
    background-color: var(--colorhover--) !important;
    border-color:#73c99b !important;
    box-shadow: 0 0 0 0.25rem #73c99b;
}
.dropdown-menu{
    width: 100% !important;
}
.list-group-item-success{
    background-color: var(--colorhover--) !important;
    border: none !important;
    color: white !important;
    text-align: center;
}
.list-group-item-dark{
    color: #acacac !important;
    background-color: #252525 !important;
}
.bi-list{
    color: white !important;
    font-size: 20px;
    margin-right: 9px;
}
.list-group-item{
    height:50px !important ;
}
.list-group-item:hover{
    background-color:var(--colorhover--)!important;
    color: white !important;
}
.img-product{
    width: 300px;
}
.products{
    margin-top: 24px!important;
}